
.Img{
    overflow: hidden;
    transition: transform 1s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(90%);
}
.Img:hover{
    filter: brightness(50%);
    transform: scale(1.04);
}
/* .BgDiv {
    animation: bg-animation 50s infinite;
    margin: 0;
  }
  
  @-webkit-keyframes bg-animation {
    0% {
      background-color: red;
    }
    15% {
      background-color: yellow;
    }
    30% {
      background-color: green;
    }
    45% {
      background-color: blue;
    }
    60% {
      background-color: purple;
    }
    75% {
      background-color: pink;
    }
    90% {
      background-color: brown;
    }
    100% {
      background-color: red;
    }
  }
  
  @keyframes bg-animation {
    0% {
      background-color: red;
    }
    15% {
      background-color: yellow;
    }
    30% {
      background-color: green;
    }
    45% {
      background-color: blue;
    }
    60% {
      background-color: purple;
    }
    75% {
      background-color: pink;
    }
    90% {
      background-color: brown;
    }
    100% {
      background-color: red;
    }
  } */